@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* #70879b  1b222c*/

:root {
  --primary-color: #f8f8f2;
  --bg-color: #282a36;
}

html {
  scroll-behavior: smooth !important;
  font-family: 'JetBrains Mono', monospace;
}

@layer base {
  body {
    @apply bg-bg-color text-primary-color tracking-wide
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  h1, h2,h3,h4,h5,h6,p, li {
    @apply selection:bg-[#FAD000] selection:text-black
  }

  button {
    @apply border shadow-gray-400 rounded-xl uppercase hover:bg-[#07F2C5] hover:text-black text-[#f8f8f2]
  }

  li {
    @apply capitalize hover:border-b border-[#FAD000] cursor-pointer 
  }
}