@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #808f9c;
  --bg-color: #1b222c;
}

html {
  scroll-behavior: smooth !important;
  font-family: 'Raleway', sans-serif;
}

@layer base {
  body {
    @apply bg-bg-color text-primary-color tracking-wide
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  button {
    @apply border shadow-gray-400 rounded-xl uppercase hover:bg-[#eeee3a] hover:text-black text-[#E1E8ED]
  }

  li {
    @apply uppercase hover:border-b border-primary-color border-opacity-100 cursor-pointer 
  }
}